pandas==2.2.2
requests==2.32.3
streamlit==1.36.0
rich<14,>=10.14.0,
sqlite3
base64
json
streamlit_autofresh
pathlib
optional
threading
socket
plotly.express
geopy.geocoders
folium
streamlit_folium
matplotlib.pyplot
seaborn
